  <h1>Segunda Tweet app</h1>
  <br>
 <p><%= "-" * 50 %></p>
 
 <form action="/tweet" method="post">
    <input type="text" name="username" placeholder="@Twitter_user" ><br>
    <input type="text" name="tweet" value="" placeholder="Write a 140 character tweet"></input>
    <br>
    <input type="submit" value="Tweet">
 </form>

  
